APP_NAME=Article API
DEBUG=True

DB_HOST=db
DB_PORT=5432
DB_NAME=article_api
DB_USER=postgres
DB_PASSWORD=postgres

SECRET_KEY=change_me_to_a_long_random_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60